HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
ADMIN_KEYPAIR_PATH=./keys/admin.json
MANAGER_KEYPAIR_PATH=./keys/manager.json
VAULT_ADDRESS=
LOOKUP_TABLE_ADDRESS=
MARGINFI_ACCOUNT=
DEPOSIT_AMOUNT=1000000
WITHDRAW_AMOUNT=1000000
